{% extends "movies/base.html" %}
{% block content %}
    {% for movie in movies %}
        <article class="media content-section">
          <img  class="rounded-circle account-img" src="{{ movies.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <p>{{ movie.popular }}</p>
              <a class="mr-2" href="#">{{ movie.author }}</a>
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}