{% extends 'movies/base.html' %}
{% load static %}

{% block body_class %}home-page{% endblock %}

{% block content %}
  {% include 'movies/movie_section.html' with title="Popular Movies" items=now_popular link='popular-movies' %}

  {% include 'movies/movie_section.html' with title="TV Popular" items=tv_serials_popular link='popular-tv' %}

  {% include 'movies/movie_section.html' with title="Top Rated" items=top_rated link='top-rated' %}

  {% include 'movies/movie_section.html' with title="Now Plyaings" items=filtered_now_playings link='now-playings' %}

  {% include 'movies/movie_section.html' with title="Upcoming" items=filtered_upcoming link='upcoming' %}
  
{% endblock %}
