/* main.css */

/* Темна панель навігації */
.navbar {
    background-color: #212529 !important; /* темно-сірий */
}

/* Текст всередині панелі */
.navbar .nav-link,
.navbar .navbar-brand {
    color: #f8f9fa !important; /* світлий текст */
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #0d6efd !important; /* синій при наведенні */
}
