.home-page {
  background-color: black;
  color: #333333;
}


.home-page .scroll-section {
  background-color: rgb(27, 27, 27);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.home-page .type-movie {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: rgb(27, 27, 27);
    padding-right: 20px;
}

.home-page .left-section{
  height: 100%;
  
}

.home-page .name-type {
  color: white;
  font-weight: bold;
  padding-left: 10px;
  margin: 0;
}

.home-page .right-section{
  display: inline-block;
}

.home-page .all-movies {
  color: #b4b2b2;
  transition: color 0.3s ease-in, transform 0.5s ease;
  margin: 0;
}

.home-page .all-movies:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.home-page .none-underline {
    text-decoration: none; /* це для тегу <a> він прибирає нижню лінію */
    color: #b4b2b2;
    transition: color 0.3s ease-in;
}

.home-page .none-underline:hover{
  color: white;
}


.home-page .movie-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 17px;
  padding-top: 10px;
  padding-bottom: 20px;
  scroll-snap-type: x mandatory;
}

.home-page .movie-scroll-container::-webkit-scrollbar {
  height: 8px;
}

.home-page .movie-scroll-container::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}


.home-page .movie-card-scroll {
  display: flex;
  flex: 0 0 auto;
  scroll-snap-align: start;
  height: 300px;
  overflow: hidden;
  transition: transform 0.5s ease; 
}



.home-page .movie-card-scroll img {
  width: 200px;
  height: 100%;
  display: block;
  object-fit: cover;
}

.home-page .movie-card-scroll:hover {
  transform: scale(1.05);
}



.home-page .movie-img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 200px;
}

.home-page .bi-film {
  height: 30px;
  width: 30px;
  display: inline-block;
  transition: fill 0.5s, ease box-shadow 0.5s ease;
}

.home-page .bi-film:hover {
  fill: #ffcc00;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
}



.home-page .scroll-title {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
}



.home-page .scroll-card {
  flex: 0 0 auto;
  height: 300px;
  scroll-snap-align: start;
  background-color: #1c1c1c;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.home-page .scroll-card:hover {
  transform: scale(1.05);
}


.home-page .scroll-title-text {
  color: #ddd;
  font-size: 14px;
  padding: 8px;
  text-align: center;
}
