.search-page {
  background-color: black;
  color: #333333;
}


.search-page .movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}

.search-page .movie-previe {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
    background-color: rgb(17, 17, 17);
}

.search-page .movie-poster {
    position: relative;
    height: 500px;
}

.search-page .movie-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-page .movie-info {
    min-height: 100px;
    max-height: 150px;
}
 
.search-page  .movie-title {
    color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.5px; /** Трохи розтягує літери для елегантності   **/

    display: -webkit-box; /* активує багаторядкове обрізання */
    -webkit-line-clamp: 2; /* максимум 2 рядки */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-page  .movie-title:hover {
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
    cursor: pointer;
}

.search-page  .movie-year {
    color: rgb(189, 187, 187);
    padding-top: 10px;
    padding-left: 15px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
}

.search-page .bi-bookmark-plus-fill {
    position: absolute;
    top: -2px;
    right: -7px;
    width: 45px;
    height: 45px;
    transition: fill 0.25s ease, transform 0.25s ease; /* дозволяє рухати, обертати, масштабувати, нахиляти */

}

.search-page .bi-bookmark-plus-fill:hover {
    fill: #b3aeae;
}

.search-page .bi-bookmark-plus-fill:active {
    fill: rgb(18, 201, 18);
    transform: scale(1.2);
}

.search-page .more-movie-info {
    display: flex;
    flex-wrap: wrap; /* дозволяє переносити жанри на новий рядок */
    gap: 10px;
    height: auto;
}

.search-page .movie-genre {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

.search-page .genre-badge {
    display: inline-block;
    padding: 5px 12px;
    margin-right: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(100, 100, 100);
    border-radius: 999px;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color 0.35s ease;
}

.search-page .genre-badge:hover {
    background-color: rgb(147, 68, 238);
}

.search-page .movie-rating {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.search-page .rating-badge {
    display: inline-block;
    padding: 5px 12px;
    color: rgb(12, 12, 12);
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 999px;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
