{% extends "movies/base.html" %}
{% load static %}
{% block body_class %}search-page{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'movies/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-page">
  <div class="login-card">

    <div class="login-header">
      <p class="login-logo">Movies.hub</p>
      <p class="login-sub  mb-0">Sign in to your account</p>
    </div>

    <div class="login-body">
      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <input type="text" name="username" class="form-control"
                 placeholder="Name" maxlength="150" autofocus>
        </div>

        <div class="mb-2">
          <input type="password" name="password" class="form-control"
                 placeholder="Password">
        </div>

        <div class="text-end mb-3 mt-3">
          <a href="{% url 'password_reset' %}" class="link-reset">Forgot your password?</a>
        </div>

        <button type="submit" class="btn-login">Sign in</button>
      </form>

      <hr class="login-divider">

      <p class="login-footer-text">
        Don't have an account? <a href="{% url 'register' %}">Sign up</a>
      </p>
    </div>

  </div>
</div>
{% endblock %}