{% load static %}
<div class="movie-container">
{% for item in items %}
    <div class="movie-previe" id="items-{{ item.id }}">
        <div class="movie-poster">
            {% if item.poster_url %}
            <img src="{{ item.poster_url }}" alt="{{ item.title }}" class="movie-img">
            {% else %}
            <img src="{% static 'movies/image/default_poster.jpg' %}" alt="Nobe">
            {% endif %}
            {% if user.is_authenticated %}
                {% if item.tmdb_id %}
                    <form method="post" action="{% url 'add_watchlist' item.tmdb_id item.media_type %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        <button type="submit" class="btn btn-link p-0 text-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5z"/>
                            </svg>
                        </button>
                    </form>
                {% else %}
                    <p class="text-muted">Немає TMDB ID для цього фільму</p>
                {% endif %}
            {% else %}
                <a class="back-register" href="{% url 'register' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5z"/>
                    </svg>
                </a>
            {% endif %}
        </div>
        <div class="movie-info">
            <p class="movie-title" >
                {% if item.media_type == "movie" %}
                    {{ item.title }}
                    <span> - Movie </span>
               {% else %}
                    {{ item.name }}
                    <span> - TV</span>
               {% endif %}
            </p>
            <p class="movie-year">
                {{ item.release_date }}
            </p>
            <div class="more-movie-info">
                <div class="movie-genre">
                    {% for genre in item.genres|slice:"2" %} <!--  тут жанри з айпі -->
                        <span class="genre-badge">{{ genre }}</span>
                    {% empty %}
                        <span class="genre-badge">None</span>
                    {% endfor %}
                </div>
                <div class="movie-rating">
                    {% if item.tmdb_rating %}
                    <span class="rating-badge">
                        <i class="bi bi-star-fill">{{ item.tmdb_rating|floatformat:1 }}</i>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<div>
    {% include 'movies/partials/pagination.html' %}
</div>
