

{% if is_paginated %}
    <div class="pagination">

        {% if current_page > 1 %}
            <a class="btn btn-outline-secondary"
              href="?{{ current_filters }}&page=1"
                >First</a>
            <a class="btn btn-outline-secondary"  href="?{{ current_filters }}&page={{ current_page|add:'-1' }}">Previous</a>
        {% endif %}

        {% for num in page_range %}
            {% if num == current_page %}
                <span class="btn btn-secondary activate" >{{ num }}</span>
            {% else %}
                <a class="btn btn-outline-secondary"  href="?{{ current_filters }}&page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if current_page < total_pages %}
            <a class="btn btn-outline-secondary"  href="?{{ current_filters }}&page={{ current_page|add:'1' }}">Next</a>
            <a class="btn btn-outline-secondary"  href="?{{ current_filters }}&page={{ total_pages }}">Last</a>
        {% endif %}
    </div>
{% endif %}